# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Database
*.sqlite3

# Docker
*.pyc
*.pyo
.DS_Store
*.sqlite
*.sqlite3

# Logs
*.log

# Environment variables
.env
.env.*
